section.auth-enter
    .auth-inner
        h3 Welcome to the Mercury project shedule!
        h4 You are unauthorized
        p Please <span class="sign-underline" id="sign">Sign Up</span> or <span class="sign-underline" id="log">Log in</span> 
